---
import Section from '@/components/Section.astro';

import { knowledge } from '@config/cv.json';
const { studies } = knowledge;

import { colors } from '@config/styles.json';
const { titlesColor, secondaryFontColor } = colors;
---

<Section title="Educación">
  <ul>
    {
      studies.map(({ institution, startDate, finishDate, name }) => {
        const startYear = new Date(startDate).getFullYear();
        const endYear =
          finishDate != null
            ? new Date(finishDate).getFullYear()
            : 'Actualmente';
        const years = `${startYear} - ${endYear}`;

        return (
          <li>
            <article>
              <header>
                <div>
                  <h3>{institution.name}</h3>
                </div>

                <time>{years}</time>
              </header>

              <footer>
                <p>{name}</p>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>

<style define:vars={{ titlesColor, secondaryFontColor }}>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article h3 {
    font-weight: 500;
    color: var(--titlesColor);
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    color: var(--secondaryFontColor);
    font-size: 0.85rem;
    min-width: 102px;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
