---
import Section from '@/components/Section.astro';

import Mail from '@/icons/Mail.astro';
import WorldMap from '@/icons/WorldMap.astro';
import twitter from '@/icons/twitter.astro';
import other from '@/icons/other.astro';
import linkedin from '@/icons/linkedin.astro';
import github from '@/icons/github.astro';
import Phone from '@/icons/Phone.astro';

import { aboutMe } from '@config/cv.json';
import { contact } from '@config/external.json';

const { profile, relevantLinks } = aboutMe;
const { name, surnames, title, description, avatar, location } = profile;
const { link, alt } = avatar;
const { country, region, municipality } = location;

import { colors } from '@config/styles.json';
const { titlesColor, secondaryFontColor } = colors;

const SOCIAL_ICONS: Record<string, any> = {
  github,
  linkedin,
  other,
  twitter,
};
---

<Section>
  <div class="container">
    <div class="info">
      <h1>{name} {surnames}</h1>
      <h2>{title}</h2>
      <span
        ><WorldMap color={secondaryFontColor} />
        {municipality}, {region}, {country}</span
      >
      <footer>
        {
          contact.email && (
            <a
              href={`mailto:${contact.email}`}
              title={`Enviar un correo electrónico a ${name} el correo ${contact.email}`}
              target="_blank"
            >
              <Mail color={secondaryFontColor} />
            </a>
          )
        }
        {
          contact.phone && (
            <a
              href={`tel:${contact.phone}`}
              title={`Contacter con ${name} en el teléfono ${contact.phone}`}
              target="_blank"
            >
              <Phone color={secondaryFontColor} />
            </a>
          )
        }
        {
          relevantLinks.map(({ type, URL }) => {
            const Icon = SOCIAL_ICONS[type];

            return (
              <a
                href={URL}
                title={`Visitar el perfil de ${name} en ${type}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon color={secondaryFontColor} />
              </a>
            );
          })
        }
      </footer>
    </div>
    <figure>
      <img src={link} alt={name} />
    </figure>
  </div>
</Section>

<style define:vars={{ titlesColor, secondaryFontColor }}>
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-right: 32px;
  }

  h1 {
    font-size: 2rem;
    color: var(--titlesColor);
  }

  h2 {
    color: var(--titlesColor);
    font-weight: 500;
    font-size: 1.1rem;
    text-wrap: balance;
  }

  img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 128px;
    border-radius: 16px;
  }

  span {
    color: var(--secondaryFontColor);
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.85rem;
    letter-spacing: -0.05rem;
  }

  footer {
    color: #555;
    font-size: 0.65rem;
    display: flex;
    gap: 4px;
    margin-top: 8px;
  }

  footer a {
    color: #777;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--secondaryFontColor);
    padding: 4px;
    height: 32px;
    width: 32px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }

  footer a:hover {
    background: #eee;
    border: 1px solid #ddd;
  }

  @media (width <= 700px) {
    .container {
      flex-direction: column-reverse;
    }

    .info {
      justify-content: center;
      align-items: center;
      padding-right: 0;
      text-align: center;
    }

    figure {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h2 {
      text-wrap: balance;
    }

    figure {
      margin: 0 auto;
    }
  }
</style>
